@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Fredoka:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:'Fredoka', sans-serif;
    
}

/*:root{
    var
}*/

/*Menu*/

header{
    height: 100px;
    background: #283845;
    padding: 0 50px;
    color:aliceblue;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    text-transform: uppercase;
    color: #fff;
    font-weight: 200;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}

.mostrar-menu, .esconder-menu{
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0,4s;
}

.mostrar-menu{
    order: 1;
}

.menu a:hover, .mostrar-menu:hover , .esconder-menu:hover{
    color: #01A7C2;
}

#check{
    display: none;
}


/*Iconos*/

#iconos{
    padding: 0px 50px;
    background:#283845;
}
.contenido-iconos{
    padding: 50px 50px 0px 50px;
    display:flex;
    justify-content: space-between;
    text-align: center;
}
.contenido-iconos div{
    flex:1;
    margin: 20px 0px;
    border-right: 2px solid rgba(100, 180, 191, 0.6);
}
.contenido-iconos div i{
    color: #01A7C2;
}
.contenido-iconos div h6{
    color:#fff;
    font-size: 20px;
    font-weight: 100;
    margin: 10px 0px;
}
.contenido-iconos div p{
    color:#01A7C2;
    font-size: 15px;
}

/*===================================================================SOBRE NOSOTROS=====================================================================*/

/*Equipo*/

.contenedor{
    position: relative;
    width: 98.6vw;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#equipo{
    padding:50px 50px;
    display:flex;
    justify-content:center;
    text-align:center;
}
#equipo img{
    border-radius: 100%;
    height: auto;
    width: auto;
    max-width: 100px;
    max-height: 100px;
    border-color: #01A7C2;
    
}
#equipo div{
    padding: 30px 30px;
}
#equipo div h4{
    color: #01A7C2;
    font-size:20px;
    margin: 15px 0px;
}
#equipo div p{
    color: #4d4d5c87;
    font-size: 18px;
}
.saber-mas{
    display:inline-block;
    text-decoration:none;
    color: #01A7C2;
    padding: 10px 30px;
    border: 3px solid #01A7C2;
    border-radius: 30px;
    margin-top: 15px;
    transition: all 0.4s;
}
.saber-mas:hover{
    background:rgba(100, 174, 191, 0.6);
    color: #01A7C2;
}

/*Mision, Vision, Como nace*/

#nosotros div{

    display: block;
    position: relative;
    left: 700px;
    margin: 50px;
    width: 1231px;
    height: 459px;
    left: 129px;
    background-color: rgba(196, 196, 196, 0.4);
    border-radius: 50px;
    padding: 30px;
}

#nosotros div h3{
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #01A7C2;
}

#nosotros div p{
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #000000;
}


/*=========================================================INICIAR SESION==========================================================================*/
/*Iniciar Sesion*/

#Black{
    background-color: #283845;
}

.ilustracion{

    background-color: #C4C4C4;
    width: 576px;
    height: 759px;
}

.ilustracion img{
    width: 546px;
    height: 728px;
}

.formulario{
    width: 512px;
    height: 403px;
    background-color: #fff;
    border: 1px solid #A09898;
    box-sizing: border-box;
    display: flexbox;
    text-align: center;
}

.formulario h1{
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    line-height: 155px;

    color: #01A7C2;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}


.parametros{
    display: flex;
    flex-wrap: wrap;
}

.iniciar_sesion{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;

    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1;

}

input{
    background: linear-gradient(0deg, #F3F2F2, #F3F2F2), linear-gradient(0deg, #F3F2F2, #F3F2F2), #F3F2F2;
    border-radius: 5px;
    width: 408px;
    height: 41px;
}

input:focus{
    border: 3px solid #6684ac;
    outline: none;
    box-shadow: 3px 0px 30px rgba(68, 143, 201, 0.749);
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="date"]{
    
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #01A7C2;

    width: 82%;
    padding: 10px;
    border: none;
    background: linear-gradient(0deg, #A3BAC3, #A3BAC3), linear-gradient(0deg, #A3BAC3, #A3BAC3), #A3BAC3;
    color: #01A7C2;
}

.input-contenedor{
    margin-bottom: 15px;
}

.icon{
    min-width: 50px;
    text-align: center;
    color: #01A7C2;
}

.enviar{

    margin-left: 40px;
    margin-top: 15px;
    background: #283845;
    border-radius: 6px;
    border: none;
    font-family: 'Advent Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    transition: all 0.4s;

    color: #FFFFFF;
}

.enviar:hover{
    background-color: #01A7C2;
    
}

.registrar{
    background-color: #fff;
    border: 1px solid #A09898;
    box-sizing: border-box;
    width: 512px;
    height: 154px;
    align-items: center;
}

.registrar h2{
    text-align: center;
    font-style:inherit;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    margin-top: 30px;

    color: #000000;
}

.registrar a{

    margin-top: 20px;
    margin-left: 150px;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    text-decoration-line: underline;
    color: #283845;
    transition: all 2s;
    
}

.registrar a:hover{

    margin-top: 20px;
    margin-left: 150px;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    text-decoration-line: underline;
    color: #01A7C2;
    
}


/*=====================================================================REGISTRO===========================================================================*/

/*
.registro_back{
    background:url(../WALLPAPERS/Wallpaper_Principal.jpg);
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.7;
    width: 100vw;
    height: 100vh;
}

.registrarse h1{
    
    text-align: center;
    width: 435px;
    height: 163px;
    font-weight: 400;
    font-size: 128px;
    line-height: 155px;

    color: #01A7C2;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contenido-registro{
    width: 100%;
    padding: 15px;
}
.registrarse{
    margin: auto;
    width: 600px;
    margin-top: 150px;
    border-radius: 2%;
    background: #C4C4C4;
    border-radius: 48px;
    text-align: center;
}
*/

/*footer*/

/*=========================================================================0REGISTRO EXITOSO==========================================*/

.elementos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

#Registro_Exitoso_Titulo{

    font-style: normal;
    font-weight: 100%;
    font-size: 50px;
    line-height: 155px;

    color: #01A7C2;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;

}

#centro{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: calc(100vh - 100px);
}

#siguiente-registro-ex{

    margin-top: 10%;
    margin-bottom: 500px;
}

.contenedor_registro{

    margin: auto;
    width: 600px;
    margin-top: 150px;
    text-align: center;
    justify-content: space-between;
    margin: auto auto auto auto;
    background-color: #fff;
}

.fa-user{
    width: 10%;
    height: 10%;
}

#icono-empleado{

    margin-left: 50px;
    width: 10%;
    height: 10%;
}

#siguiente-registro-ex{
    margin-top: 20%;
    margin-bottom: 10%;
}

/*=========================================================================RESPONSIVE==================================================================*/

@media(max-width: 768px){
    /*Menu*/
    .mostrar-menu, .esconder-menu{
        display: block;
    }

    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #283845;
        right: -100%;
        top:0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;
    }
    .menu a{
        display:block;
        padding: 20px;
    }
    .esconder-menu{
        position:absolute;
        top:40px;
        right: 40px;
    }
    #check:checked ~ .menu{
        right: 0;
    }
    /*Equipo*/

    #personas{
        flex-direction: column;
    }

    /*Registro*/

    .registrarse,
    .Registro{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
    /*Footer*/

    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border: none;
    }

    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 20px;
    }
}